* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-image: url(../../png/Merged-bar-31.png);

        img {
            width: 13%;
        }

        nav {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        ul {
            width: 60%;
            display: flex;
            justify-content: space-around;
            list-style: none;
        }

        li {
            a {
                text-decoration: none;
                color: #2B2B2C;
                font-weight: bold;
                transition-duration: 0.3s;

                &:hover {
                    color: #1078AD;
                }
            }
        }
    }

    button {
        background-color: transparent;
        border: 2px solid #1078AD;
        border-radius: 10px;
        padding: .1rem .5rem;
        display: flex;
        align-items: center;
        height: 1.5rem;
        font-size: .7rem;
        transition-duration: 0.3s;

        &:hover {
            opacity: .5;
            box-shadow: 0px 2px black;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    .info {
        background-color: #F4CF1B;
        text-align: center;
        padding: .5rem;
        font-size: .8rem;
        padding: .3rem 2rem 0;
    }

    h4 {
        color: 1078AD;
    }

    p {
        font-weight: bold;
        max-width: 520px;
        margin: auto;

    }

    .fsection1 {
        padding: .5rem;
        text-align: center;


        &___illustration {
            img {
                width: 100%;
            }
        }

        &__part2 {
            h3 {
                padding: .5rem 4.5rem;
                color: #1078AD;
            }

        }
    }
}