@import "variables";
@import "mixing";
@import "secti";
@import "footer";
@import "header";
@import "info";
@import "conseil";
@import "symptomes";
@import "test";




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;


}